/*雨滴 所有系统公用样式*/
/*清空浏览器默认样式开始*/
body, ul, ol, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, th {margin: 0; padding: 0; font-weight: normal;}
img, input, button {border: none; padding: 0; margin: 0; outline-style: none;}
legend {width: inherit; border: none;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
ul, ol {list-style: none;}
dl, dt, dd, ol, ul, li {list-style: none;}
input {padding-top: 0; padding-bottom: 0;}
select, input {vertical-align: middle; outline: none;}
select, input, textarea {font-size: 14px; margin: 0;}
textarea {resize: none;}
img {border: 0; vertical-align: middle;}
table {border-collapse: collapse;}
fieldset{border:none}
p{word-wrap: break-word;word-break:break-all;}
/*清除浮动*/
.clearfix:before, .clearfix:after {content: ""; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;  /*IE/7/6*/}
a{color: #333;text-decoration: none}
a:hover, a:focus {color: #1988fa;text-decoration: none}
body {font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif!important;color: #333; font-size: 14px;font-weight: normal;}
html {overflow-x: hidden; height: 100%;}
/*清空浏览器默认样式结束*/
.panel button[disabled], .panel input[disabled] { background-color: #eee; border: 1px solid #bbb; cursor: not-allowed; }
.disabled{ background-color: #eee; cursor: not-allowed; }
/* 辅助类样式 */
.hide { display: none !important; }
.show { display: block !important; }
.bold { font-weight: bold !important; }
.width-60 { width: 60px; }
.width-90 { width: 90px; }
.width-120 { width: 120px; }
.width-150 { width: 150px; }
.width-180 { width: 180px; }
.width-210 { width: 210px; }
.width-240 { width: 240px; }
.width-270 { width: 270px; }
.width-300 { width: 300px; }
.layui-col { float: left; }
/*所有字体颜色*/
.bgcolor-blue { background: #1988fa!important; color: #fff}
.bgcolor-red { background: #ff3850!important;color: #fff }
.bgcolor-green { background: #00ca5b!important; color: #fff}
.bgcolor-yellow { background: #ffbb00!important;color: #fff }
.bgcolor-f5{ background-color: #eff3f5!important; }
.bgcolor-f8{ background-color: #f4f6f8!important; }
.bgcolor-f2{ background-color: #f2f2f2!important; }
.bgcolor-fe{ background-color: #eee!important; }
.bgcolor-ff{ background-color: #fff!important; }
.page-bgf{background-color: #fff}/*这个类名与手机端的冲突了待淘汰 全部使用上面的一个类名*/
.footer-bg { background-color: #2e3235!important; }
/*红色字*/
.text-blue{color: #1988fa!important;}
.text-red { color: #ff3850!important; }
.text-green{color: #00ca5b!important;}
.text-yellow { color: #ffbb00!important; }
.text-write{ color: #fff!important; }
.text-black { color: #000!important; }
.text-semi { color: #333!important; }
.text-grey { color: #999!important; }
.text-light { color: #bbb!important; }
a.layui-this { color: #1988fa !important; }
/*状态按钮*/
.status-blue , .status-red , .status-green , .status-yellow , .status-semi{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.status-blue{border: 1px solid #1988fa;color: #1988fa;padding: 2px 8px;}
.status-red{border: 1px solid #ff3850;color: #ff3850;padding: 2px 8px;}
.status-green{border: 1px solid #00ca5b;color: #00ca5b;padding: 2px 8px;}
.status-yellow{border: 1px solid #ffbb00;color: #ffbb00;padding: 2px 8px;}
.status-semi{border: 1px solid #333;color: #333;padding: 2px 8px;}
/*迷你小按钮*/
.small-btn-yellow , .small-btn-red , .small-btn-green , .small-btn-black , .small-btn-blue{height: 22px;line-height: 22px;padding:0 4px;background-color:transparent;}
.small-btn-blue{border: 1px solid #1988fa;color: #1988fa;}
.small-btn-red{border: 1px solid #ff5267;color: #ff5267;}
.small-btn-green{border: 1px solid #00c997;color: #00c997;}
.small-btn-yellow{border: 1px solid #ffbe1f;color: #ffbe1f;}
.small-btn-black{border: 1px solid #ddd;color: #333;}
/*字体大小*/
.font-size20{font-size: 20px;color: #000;font-weight: 700;!important;}/*示用于大标题*/
.font-size18{font-size: 18px;color: #000;font-weight: 700;!important;}/*示用二级标题*/
.font-size16{font-size: 16px;color: #666;!important;}/*示用导航栏*/
.font-size14{font-size: 14px;color: #333;!important;}/*正文普通文办*/
.font-size12{font-size: 12px;color: #999;!important;}/*示用标记 提示*/
/*自定义栅格*/
.wrapper-content { padding: 20px; }
.mt10 { margin-top: 10px; }
.mt20{margin-top: 20px}
.mb10 { margin-bottom: 10px }
.mb20 { margin-bottom: 20px }
.mr10 { margin-right: 10px }
.padding15{ padding:15px;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; }
.padding-10{  padding:10px;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  }
.padding-30 {padding: 0 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;  }
.margin0 { margin: 0; }
.bold { font-weight: bold !important; }
.bd-none { border: none !important; }
.text-c { text-align: center !important; }
.text-l { text-align: left !important; }
.text-r { text-align: right !important; }
.al { text-align: left; }
.ac { text-align: center; }
.ar { text-align: right; }
.c666 { color: #666; }
legend { width: auto; margin-bottom: 0; border-bottom: 0; }
.no-padding { padding: 0 !important; }
.form-input-text { line-height: 38px; }
.word-break { word-break: break-all; }
/* 圆图*/
.img-circle { border-radius: 50%; }
.avatar-normal { width: 80px; height: 80px; }
.avatar-small { width: 64px; height: 64px; }
.avatar-mini { width: 30px; height: 30px; }
.avatar-mini2 { width: 30px; height: 30px; }
.border { border: 1px solid #e7eaec; }
/*tree*/
ul.checktree-root, ul#tree ul { list-style: none; padding-left: 40px; }
ul.checktree-root label { font-weight: normal; position: relative; }
ul.checktree-root label input { position: relative; top: 2px; left: -5px; }
/*public style*/
.fl { float: left !important; }
.fr { float: right !important; }
.pr { position: relative; }
.pa { position: absolute; }
.separate-10 { width: 100%; height: 10px; }
.separate-20 { width: 100%; height: 20px; }
.system-tip {cursor: pointer;}
.nav-fixed { width: 100%; position: fixed; top: 0; left: 0; z-index: 10000; }
/*最外层*/
.width-screen { width: 100%;}
.width-1200 { width: 1200px; margin: 0 auto; }
.head-shadow { width: 100%; box-shadow: 0 2px 3px #f2f2f2; border-bottom: 1px solid #eee; }
.padding-right-20{  padding-right: 20px;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;  }
/*textarea高度自适应样式 跟函数（原文件名jquery.flexText.js）一起使用 可通用*/
.flex-text-wrap { position: relative; *zoom: 1; border: none; }
.textarea-warp textarea, .flex-text-wrap { outline: 0; margin: 0; padding: 0; *padding-bottom: 0 !important; }
.flex-text-wrap textarea, .flex-text-wrap pre { *white-space: pre; *word-wrap: break-word; white-space: pre-wrap; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.flex-text-wrap textarea { overflow: hidden; position: absolute; top: 0; left: 0; height: 100%; width: 100%; resize: none; *height: 94%; *width: 94%; border: 1px solid #eee; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.flex-text-wrap pre { display: block; visibility: hidden; }
.textarea-warp .textarea, .flex-text-wrap pre { line-height: 1.4; font-size: 100%; /*  padding: 22px 25px 0;   /*border: 1px solid #c6c8ce;*/
    width: 100%; -webkit-appearance: none; background: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; }
.textarea-warp .textarea, .flex-text-wrap pre{word-wrap: break-word;}
/*textarea 高度自适应样式结束*/
.admin-main { margin:10px 16px;padding: 10px 30px 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.search-form .layui-breadcrumb {margin-left: 15px; display: block;}
.search-form .layui-breadcrumb a {line-height: 38px;}
/* 自定义表格样式 */
.custom-table th { padding: 9px 0;}
.custom-table th .iconfont { font-size: 12px;}
.custom-table tr { height: 40px; cursor: pointer;}
.custom-table td { padding: 9px; cursor: pointer;}
.custom-table td span.status {font-weight:bold; color: #fff; padding: 3px 8px; border-radius: 4px;}
.custom-table .layui-table-cell {height: 30px;}
.custom-table .layui-btn-sm i {line-height: 32px;}
.custom-table .layui-checkbox-disbaled i {background-color: #ddd; color: #ddd}
.custom-table .layui-checkbox-disbaled:hover i {color: #ddd !important;}
/* 自定义表格分页样式 */
.table-page { width: 100%; max-height: 50px; }
.table-page .layui-btn { display: block; float: left;margin-right: 10px}
.table-page .layui-btn + .page { padding-left: 15px; }
.table-page .page { float: left; margin-bottom: 10px;margin-right: 16px}
.table-page .page .pagination { padding: 0; margin: 0; overflow: hidden; }
.table-page .page .pagination li { float: left; height: 28px; line-height: 28px; background-color: #fff; border: 1px solid #e2e2e2; border-right: none; }
.table-page .page .pagination li.last { border-right: 1px solid #e2e2e2; }
.table-page .page .pagination li span, .table-page .page .pagination li a { display: inline-block; padding: 0 12px; line-height: 28px; }
.table-page .page .pagination li.active a { background-color: #1988fa; color: #fff; }
.table-page .page .pagination li:first-child span, .table-page .page .pagination li:first-child a { border-radius: 2px 0 0 2px; }
.table-page .page .pagination li:last-child span, .table-page .page .pagination li:last-child a { border-radius: 0 2px 2px 0; }
.table-page .goto { line-height: 30px; height: 30px; display: inline-block; }
.table-page .goto input { line-height: 28px; height: 28px; width: 32px; vertical-align: top; padding-left: 12px; border: 1px solid #d6d6d6; border-radius: 2px;margin:0 10px}
.table-page .goto button { float: inherit; display: inline-block; vertical-align: top; line-height: 28px; padding: 0 10px;margin:0 10px}
/* 自定义表单块样式 */
.custom-form { margin: 0; }
.custom-form .layui-form-label { width: 120px; }
.custom-form .layui-input-block { margin-left: 150px; }
.custom-form .layui-form-selected dl {z-index: 1000;}
.custom-form .layui-col label { vertical-align: middle; }
.custom-form .layui-form-radio { line-height: 22px; margin: 6px 0 0 0; }
.custom-form .layui-form-radio i { margin: 4px 4px 0 0; }
.custom-form .layui-form-switch { margin-top: 0 }
.custom-form .layui-form-checkbox[lay-skin="primary"] span {padding-left: 5px; height: inherit;}
.custom-form .tree-div { border: 1px solid #ccc; border-radius: 2px; padding: 10px 15px;}
.custom-form .layui-colla-content .operate-box{margin-bottom: 5px;}
.custom-form .layui-upload {padding: 0;}
.custom-form .layui-upload input[type="file"] {top: 0;}
.custom-form .layui-upload .layui-upload-list li.file-item {padding: 14px 0;}
.layui-form .help-block {color: #999; padding: 5px 0!important;}
/* main-public 主面板 */
.panel { padding: 0 25px 20px; overflow: hidden; border: none; margin: 0 auto;  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; }
/*操作日志样式*/
.avatar-box-left{position: relative;width: 40px;margin-right: -40px;float: left}
.avatar-box-left img { width: 40px; height: 40px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;}
.avatar-box-right{float: right;width: 100%;}
.avatar-box-right .comment-box{margin-left: 50px;}
.avatar-box-right .comment-box .comment {margin-top: 8px;}
.avatar .name { color: #1988fa; display: inline;line-height: 22px;font-size: 15px;margin-right: 8px;}
.avatar .error-name{color: #ff3850; display: inline;line-height: 22px}
.avatar .name span{color: #555; display: inline; line-height: 22px}
.feed-element { padding: 10px 0; }
.feed-activity-list .feed-element { border-bottom: 1px solid #e7eaec; clear: both}
/* 内容标题 */
.content-title { width: 100%; height: 50px; border-bottom: 1px solid #EEEFF1; margin-bottom: 10px }
.content-title span { line-height: 50px; font-size: 18px; color: #333333; font-family: "Microsoft YaHei"; font-weight: 500; text-align: left; padding-left: 0; }
/* 用户选择器 */
.user-group-select-btn {background-color: #1988fa; color: #ffffff; border-radius: 4px; cursor: pointer; margin-right: 4px; margin-top: 4px; padding: 6px 10px; position: absolute; right: 0; top: 0; font-size: 14px; line-height: 18px;}
.layui-layer-custom .layui-layer-btn {background-color: #f8f8f8; padding: 6px 10px!important;}
.layui-layer-custom .layui-layer-btn a {margin: 0 5px; height: 32px; line-height: 32px}
.select2-container--default {width: 100%!important;}
/*.select2-container--default .select2-selection--multiple {height: 38px;}*/
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {line-height: 26px!important;}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {float: right; margin-left: 2px; margin-right: 2px}
.select2-container .select2-search--inline .select2-search__field {margin-top: 0!important;line-height: 22px!important;}
.select2-container .select2-dropdown .select2-results__option .img-flag {width: 30px; height: 30px; border-radius: 50%; margin-right: 5px;}
.select2-container--default .select2-selection--single {height: 38px!important;}
.select2-container--default .select2-selection--single .select2-selection__rendered {line-height: 38px!important;}
.select2-container--default .select2-selection--single .select2-selection__arrow {height: 36px!important;}
/*图标导航*/
.layui-elem-quote a:hover { color: #ff3850; }
.form-group { margin-left: 110px; }
.ztree li a { width: 90%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis }
.panel {background-color: #fff; border: 1px solid transparent; border-radius: 4px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
.symbol { width: 40%; padding: 1.4em 0; border-radius: 4px 0 0 4px; display: inline-block; text-align: center; }
.symbol i { color: #fff; font-size: 3em; }
.value { width: 59%; text-align: center; float: right;padding: 10px 0}
.value h1 { font-size: 1.8em; }
/*面板box*/
.ibox { clear: both; margin-bottom: 25px; margin-top: 0; padding: 0; border: 1px solid #e7eaec; }
.ibox-title { -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #fff; border-color: #e7eaec; -webkit-border-image: none; -o-border-image: none; border-image: none; border-style: solid solid none; border-width: 4px 0 0; color: inherit; margin-bottom: 0; padding: 7px 15px 7px; height: 34px; line-height: 34px; border-bottom: 1px solid #e7eaec; }
.ibox-content { background-color: #fff; color: inherit; padding: 15px 15px 20px; border-color: #e7eaec; -webkit-border-image: none; -o-border-image: none; border-image: none; }
.ibox-title h5 { display: inline-block; font-size: 14px; margin: 0 0 7px; font-weight: 600; padding: 0; text-overflow: ellipsis; float: left; }
.ibox:after, .ibox:before { display: table }
.bt-none { border-top: none; }
/* 独立组件 */
.alone { width: 730px; margin: 200px auto; }
.alone ul { margin-left: 1px; font-size: 0; }
.alone li { display: inline-block; width: 181px; font-size: 16px; text-align: center; line-height: 80px; margin: 0 1px 1px 0; background-color: #393D49; color: #fff; }
.alone li:hover { opacity: 0.8; }
.alone li a { display: block; color: #fff; }
/*welcome首页*/
.yd-notice-left , .yd-notice-right{border: 1px solid #e7eaec;border-top: none;padding-bottom: 20px;}
.yd-notice{padding-right: 20px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
.yd-notice p , .yd-notice h3{line-height: 24px;margin-bottom: 5px;padding: 0 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.yd-notice .ibox{border: none}
/*IE8测试兼容*/
.layui-table thead th{ background-clip: padding-box; /*背景被裁剪到内边距框*/ position:relative; }
/*消息显示框样式开始*/
#notifyList{z-index: 1994;right:0;}
.border-borrom{border-bottom: 3px solid #1988fa}
.msg-ift{width: 260px;border: 1px solid #ddd;box-shadow:0 2px 2px rgba(0, 0, 0, .2);border-radius: 2px;z-index: 1993;}
.msg-ift h3{font-size:15px;color:#333;padding: 0 16px;height: 38px;text-align:left;line-height: 38px;border-bottom: 1px solid #eee;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.msg-ift .msg-block{padding: 5px 16px;max-height: 400px;overflow-x: hidden;overflow-y: auto;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-bottom: 8px;}
.reminder-list li{padding: 8px 0;font-size: 14px;line-height: 20px;color: #555;text-align: left}
.reminder-list li span{margin-right: 8px;}
.reminder-list li a{margin-left: 6px;font-size: 14px;!important;}
/*消息显示框样式结束*/
/*调整表单伪类 == S*/
#workflowForm .layui-table tr:hover{ background-color: inherit;}
/*调整表单伪类 == E*/
.title-h1{font-size: 20px;text-align: center;color: #000}
.title-h2{font-size: 18px;text-align: center;color: #000}
.title-h3{font-size: 16px;text-align: center;color: #000}
/*覆盖调整layui默认样式开始*/
.layui-btn , .layui-btn-normal{background-color: #1988fa;color: #fff}
.layui-btn-primary{background-color: #fff;color:#333!important;}
.layui-btn-primary:hover{border: 1px solid #999}
.layui-btn-warm{background-color: #ffbb00!important;}
.layui-btn-danger{background-color: #ff3850!important;}
.layui-btn-disabled{background-color: #FBFBFB;color: #999!important;}
.layui-table{color: #333 !important;}
#laydate .layui-laydate .layui-this{background-color: #1988fa!important;}
.layui-tab-brief>.layui-tab-title .layui-this{color:#1988fa;!important;}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after {border-bottom: 2px solid #1988fa;!important;}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a,
.layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{background-color: #1988fa!important;}
.layui-nav-tree .layui-nav-bar{background-color: #1988fa!important;}
.layui-btn-primary:hover{border-color:#ddd;}
.layui-laypage .layui-laypage-curr .layui-laypage-em{background-color: #1988fa!important;}
.layui-form-radio i:hover, .layui-form-radioed i{color: #1988fa;}
.layui-form-onswitch{border-color: #1988fa;background-color: #1988fa;}
.layui-btn-sm{height: 28px;line-height: 27px}
.layui-form-checked, .layui-form-checked:hover {border-color: #1988fa;}
.layui-form-checked i .layui-form-checked:hover i {color: #1988fa;}
.layui-form-checked i, .layui-form-checked:hover i {color: #1988fa;}
/*.layui-form-checked span, .layui-form-checked:hover span {background-color: #1988fa;}*/
/*.layui-form-checked[lay-skin=primary] i {border-color: #1988fa;background-color: #1988fa;}*/
.layui-layer-lan .layui-layer-title{background: #1988fa!important;}
/*覆盖layui默认样式结束*/